@using RealTimeUsingSockets.Application.Dtos.ProductDtos
@model IEnumerable<GetProductDto>

<div class="mt-4">
    <div id="productTable">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Number Of Items In Stock</th>
                    <th>Number Of Items Sold</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr id="product-@product.Id">
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.NumberOfItemsInStock</td>
                        <td>@product.NumberOfSales</td>
                        <td>
                            <a asp-action="Buy" asp-route-productId="@product.Id" asp-controller="Product" class="btn btn-outline-primary" type="submit">Buy</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.14/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder().withUrl("/productUpdates").build();
        
        connection.on("AddProduct", function (product) {
            const table = document.getElementById("productTable").getElementsByTagName('tbody')[0];

            const newRow = table.insertRow();
            newRow.id = `product-${product.id}`;
            newRow.insertCell(0).innerText = product.name;
            newRow.insertCell(1).innerText = product.price;
            newRow.insertCell(2).innerText = product.numberOfItemsInStock;
            newRow.insertCell(3).innerText = product.numberOfSales;

            const cell = newRow.insertCell(4);
            const buyBtn = document.createElement('a');
            cell.appendChild(buyBtn);
        });

        connection.on("DeleteProduct", function (productId) {
            const row = document.getElementById(`product-${productId}`);
            if (row) {
                row.remove();
            }
        });

        connection.on("BuyProduct", function (product) {
            console.log(product.Id)
            const row = document.getElementById(`product-${product.Id}`);
            if (row) {
                row.insertCell(2).innerText = product.numberOfItemsInStock;
                row.insertCell(3).innerText = product.numberOfSales;
            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
